<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nishita.quiz">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SubmitBox"></activity>
        <activity android:name=".QuizDetails" />
        <activity android:name=".QuizRecycler" />
        <activity android:name=".CreateClass" />
        <activity android:name=".ClassCreated" />
        <activity android:name=".ClassCode" />

        <activity android:name=".CourseJoined" />
        <activity android:name=".coursecode" />
        <activity android:name=".student_register" />
        <activity android:name=".teacher_register" />
        <activity android:name=".teacher_login" />
        <activity android:name=".page2_choose" />
        <activity android:name=".Splash" />
        <activity android:name=".Score" />
        <activity android:name=".Questions" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".Student_login" />
        <activity android:name=".page1_gettingstarted">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="false" />
    </application>

</manifest>